.App {
  text-align: center;
}
.bodyname{
  background-image:url("https://img.freepik.com/free-vector/illustration-brainstorming-teamwork_53876-18397.jpg?w=1060&t=st=1688797514~exp=1688798114~hmac=2f6588e15150aadca41e0d4074d5481b4e30ca5d81ea5e288d50559319422037") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.teamcard{
  background-image:url("https://img.freepik.com/free-vector/business-workplace-poster-with-man-suit-sitting-chair-read-newspaper-vector-banner-with-cartoon-illustration-businessman-manager-employee-with-magazine-office-home-cabinet_107791-8409.jpg?w=1060&t=st=1688800289~exp=1688800889~hmac=df50f86774d23f7af674c3aa6fe98b42ca327cdcbec14e38c8dc7d6356735297") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
